<div>
  <h3>{{ pageTitle }}</h3>
  <div class="alert alert-info" id="successAlert" [hidden]="!successMessage">
      <a  class="close" (click)="toggleSuccessAlert()">&times;</a>
      <strong>{{successMessage}}</strong>
  </div>
  <div class="alert alert-warning" [hidden]="!errorMessage" id="errorAlert">
    <a  class="close" (click)="toggleErrorAlert()">&times;</a>
    <strong>{{errorMessage}}</strong>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let book of availableBooks'>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="hidden" #currentId>{{book.id}}</div></td>        
        <td><a href="#bookDetails" (click)='setCurrentBook(currentId.innerHTML)' data-toggle="modal">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td><a (click)='setCurrentBook(currentId.innerHTML)' 
            href="#issueToUserModal" data-toggle="modal" class="text-primary"><strong>Issue</strong></a></td>
        <td><a (click)='setCurrentBook(currentId.innerHTML)' 
            href="#deleteConfirmationModal" data-toggle="modal" class="text-danger"><strong>Delete</strong></a></td>
      </tr>
    </tbody>
  </table>
  <div class="modal col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3" id="bookDetails" tabindex="-1">
    <div class="modal-dialogue">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" >{{currentBook.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5 col-md-offset-1"><p><strong>ID:</strong> {{currentBook.id}}</p></div>
            <div class="col-md-4"><p><strong>Author:</strong> {{currentBook.author}}</p></div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-1"><blockquote><p>{{currentBook.description}}</p></blockquote></div>
          </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>
  
  <user-form (issueToUser)='onBookIssue($event)'></user-form>

  <div class="modal col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3"
    id="deleteConfirmationModal" tabindex="-1">
    <div class="modal-dialogue">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Would you like to delete {{currentBook.title}}</p>
        </div>
        <div class="modal-footer">
          <button id="btnYesConfirmYesNo" type="button" class="btn btn-primary" (click)="onBookDelete()"
            data-dismiss="modal">Yes</button>
          <button id="btnNoConfirmYesNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>