<div>
  <h3>{{ pageTitle }}</h3>
  
  <table class="table table-striped" style="background: #f3f3f3;">
    <thead>
      <tr>
        <th>UserName</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Is admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let audit of auditList'>
        <td>{{audit.userName}}</td>        
        <td>{{audit.firstName}}</td>
        <td>{{audit.lastName}}</td>
        <td>{{audit.admin}}</td>
      </tr>
    </tbody>
  </table>
  

</div>